<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Homepage</title>
</head>
<body>

<div class="container">

    <div class="row col-xs-10 col-md-8 ">
        <h1>Welcome to Sulabh's Tax Estimation</h1><hr>
    </div>

    <div class="row col-xs-10 col-md-8 ">
    <h4>Enter your income details to estimate tax payable and tax returns</h4>
    </div>
    <hr>

    <div class="col-xs-6 col-md-4">

    <form action="#" th:action="@{/calculateTax}" th:object="${taxation}" method="post">
        <div class="form-group">
            <label>Gross Salary Income</label>
            <input type="text" th:field="*{grossSalaryIncome}" class="form-control" placeholder="Enter total salary">
        </div>

        <div class="form-group">
            <label>Other Income</label>
            <input type="text" th:field="*{otherIncome}" class="form-control" placeholder="Enter additional income">
            <small class="form-text text-muted">Other income like interest, rent, capital gain and so on</small>
        </div>

        <div class="form-group">
            <label>Total Deductions</label>
            <input type="text" th:field="*{totalDeductions}" class="form-control" placeholder="Enter eligible deduction">
            <small class="form-text text-muted">Eligible deductions like work from home, uniform, expenses and so on.</small>
        </div>

        <div class="form-group">
            <label>Withheld Amount</label>
            <input type="text" th:field="*{withheldTax}" class="form-control" placeholder="Enter tax withheld by employer">
        </div>

        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>