<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Homepage</title>
</head>
<body>

<h1>Welcome to Sulabh's Tax Estimate Page</h1>

<h2>Enter your income details to estimate tax payable and tax returns</h2>

<form action="#" th:action="@{/calculateTax}" th:object="${taxation}" method="post">
    <p></p><label><h4>Gross Salary Income :</h4></label>
    <input type="text" th:field="*{grossSalaryIncome}">

    <p></p><label><h4>Other Income :</h4></label>
    <input type="text" th:field="*{otherIncome}"> (Interest/Shares/Rent)

    <p></p><label><h4>Total Deductions :</h4></label>
    <input type="text" th:field="*{totalDeductions}">

    <p></p><label><h4>Withheld Amount :</h4></label>
    <input type="text" th:field="*{withheldTax}"><br>

    <p><input type="submit" value="Calculate"></p>

</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>